@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
body{
    font-family: "Onest";
}
.menu > li {
    font-size: 17px;
}
.choose{
  background: -webkit-linear-gradient(green, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.own-button{
    background: -webkit-linear-gradient(#284FFB,#3a7bd5);
}
.innovative{
    background: -webkit-linear-gradient(green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-btn{
    background: -webkit-linear-gradient(#284FFB,#3a7bd5);
}
.responsive-map{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
}

.responsive-map iframe{
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

/* Carousel */

/* Carousel */